<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="clientUrl" value="http://yourclienturl.com"/>
    <add key="clientId" value="07e9fcc269ee439db69a3215f89bcd99"/>
    <add key="clientSecret" value="eGbBcQdkvlpLdISvEl_zJx3W0dTbFqX76JV3cj54Rf8"/>

    <add key="customerclientId" value="07e9fcc269ee439db69a3215f89bcd99"/>
    <add key="customerclientSecret" value="eGbBcQdkvlpLdISvEl_zJx3W0dTbFqX76JV3cj54Rf8"/>
  </appSettings>
</configuration>
